# Dependencies
node_modules/

# Environment variables
.env


# Build outputs
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Backups
backup/